<cl-page-layout title="Cadastro de Pessoa">


  <ng-container leftActions>
    <cl-back-action [backRoute]="navigateToBack()"></cl-back-action>
  </ng-container>

  <ng-container rightActions>
    <cl-save-action (click)="save()"></cl-save-action>
    <cl-save-add-action (click)="save(true)"></cl-save-add-action>
  </ng-container>

  <ng-container content>
    <cl-form-fields-list
      [form]="cadastroFormGroup"
      [fields]="cadastroFields"
    ></cl-form-fields-list>
  </ng-container>

</cl-page-layout>
