<form [formGroup]="form" class="form-field">
  <span *ngIf="field.type !== 2" class="label">{{ label }}</span>

  <ng-container [ngSwitch]="field.type">
    <mat-form-field *ngSwitchCase="0">
      <input
        type="text"
        matInput
        [placeholder]="field.placeholder"
        [formControlName]="field.formControlName"
      />
    </mat-form-field>

    <mat-form-field *ngSwitchCase="1">
      <mat-select [formControlName]="field.formControlName">
        <mat-option *ngFor="let option of field.options" [value]="option.value">
          {{ option.label }}
        </mat-option>
      </mat-select>
    </mat-form-field>

    <ng-container *ngSwitchCase="2">
      <mat-checkbox [formControlName]="field.formControlName">
        <span class="field-label"> {{ label }} </span>
      </mat-checkbox>
    </ng-container>
  </ng-container>

<mat-error>{{ error }}</mat-error>

</form>

<!--
  <form [formGroup]="form" class="form-fields">
  <ng-container *ngFor="let field of fields">
    <ng-container [ngSwitch]="field.type">
      <div [class]="field.class" class="form-field" *ngSwitchCase="0">
        <span class="field-label">
          {{ field.label }}
        </span>

        <mat-form-field>

        </mat-form-field>
      </div>

      <div [class]="field.class" class="form-field" *ngSwitchCase="1">
        <span class="field-label">
          {{ field.label }}
        </span>

        <mat-form-field>

        </mat-form-field>
      </div>

      <div [class]="field.class" class="form-field" *ngSwitchCase="2">
        <mat-form-field>

        </mat-form-field>
      </div>
    </ng-container>
  </ng-container>
</form>
-->
