<form [formGroup]="form" class="form-field">
  @if (![2, 7].includes(field.type)) {
    <span class="label">{{ label }}</span>
  }

  <ng-container>
    @switch (field.type) {
      @case (0) {
        <mat-form-field>
          <input
            [type]="field.password ? 'password' : 'text'"
            matInput
            [placeholder]="field.placeholder"
            [formControlName]="field.formControlName"
          />
        </mat-form-field>
      }

      @case (1) {
        <mat-form-field>
          <mat-select [formControlName]="field.formControlName">
            @for (option of field.options; track option) {
              <mat-option [value]="option.value">
                {{ option.label }}
              </mat-option>
            }
          </mat-select>
        </mat-form-field>
      }

      @case (2) {
        <ng-container>
          <mat-checkbox [formControlName]="field.formControlName">
            <span class="field-label"> {{ label }} </span>
          </mat-checkbox>
        </ng-container>
      }

      @case (3) {
        <mat-form-field>
          <input matInput [matDatepicker]="picker"  [formControlName]="field.formControlName"/>
          <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
          <mat-datepicker #picker></mat-datepicker>
        </mat-form-field>
      }

      @case (4) {
        <mat-form-field>
          <input
            type="number"
            matInput
            [placeholder]="field.placeholder"
            [formControlName]="field.formControlName"
          />
        </mat-form-field>
      }

      @case (5) {
        <div class="list">
          <ul class="item-list">
            @for (item of items; track item; let i = $index) {
              <li>
                <span>{{ transformValue(item) }}</span>
                <div class="actions">
                  <mat-icon
                    class="consulta-delete-icon"
                    aria-label="Editar"
                    fontIcon="delete"
                    (click)="removeItem(i)"
                  ></mat-icon>
                </div>
              </li>
            }
          </ul>
        </div>
      }

      @case (7) {
        <mat-slide-toggle
          [formControlName]="field.formControlName"
          color="primary"
        >
          {{ label }}
        </mat-slide-toggle>
      }
    }
  </ng-container>

  <mat-error>{{ error }}</mat-error>
</form>
